<h2>Create a new idea, <%= current_user.username %></h2>




<% # render _errors partial from layout, pass in @idea as class_object %>
<% # Partials 3.4.4 Passing Local Variables documentation:    https://guides.rubyonrails.org/layouts_and_rendering.html %>

<%= render partial: "layouts/errors", locals: {class_object: @idea} %>




<%= form_for(@idea) do |f| %>

    
    <%= f.label :title %>
    <%= f.text_field :title %>
        </br></br>
    <%= f.label :inspiration %>
    <%= f.text_field :inspiration %>
        </br></br>
    <%= f.label :plan %>
    <%= f.text_area :plan %>
        </br></br>
    <%= f.label :budgeted_dollars %>
    <%= f.number_field :budgeted_dollars %>
        </br></br>
    <%= f.label :spent_dollars %>
    <%= f.number_field :spent_dollars %>
        </br></br>


     
        <p>Select a Category: </p>
            <div>
                <%= f.collection_select :category_id, @categories, :id, :label, prompt: "Click for category list" %>
            </div>



            <p>Or enter a new Category: </p>
            <div>
                <%= f.fields_for :category do |c| %>
                    
                    <%= c.text_field :label %>
                <% end %>
            </div>




        </br></br>
    <%= f.submit "SUBMIT" %>

<% end %>

