<h2>Create a new idea, <%= current_user.username %></h2>

<%= form_for(@idea) do |f| %>

    
    <%= f.label :title %>
    <%= f.text_field :title %>
        </br></br>
    <%= f.label :inspiration %>
    <%= f.text_field :inspiration %>
        </br></br>
    <%= f.label :plan %>
    <%= f.text_area :plan %>
        </br></br>
    <%= f.label :budgeted_dollars %>
    <%= f.text_field :budgeted_dollars %>
        </br></br>
    <%= f.label :spent_dollars %>
    <%= f.text_field :spent_dollars %>
        </br></br>
    <%= f.submit "SUBMIT" %>

<% end %>

