
<h3><%= current_user.username %>, create a new resource for:</h3>
<h2><%= @idea.title %></h2>


<%= form_for([@idea, @resource]) do |f| %>


    <%= f.label "Resource" %>
    <%= f.text_field :source %>
    
    
    <%= f.submit "SUBMIT" %>

<% end %>








